<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('favicon', filename='favicon.ico')  }}" type="image/x-icon">
    <title>Robomaster API</title>
</head>
<body>
<h1>
    ROBOMASTER API
</h1>
<h2>Routes Information</h2>
<ul>
    {% for route in routes %}
             <li>route_name: {{ route.name }}  <b>url</b>: {{ route.path }}</li>
    {% endfor %}
</ul>
<h2>Download JavaScript</h2>
<a href="{{ url_for('robomaster_extension', filename='index.js') }}">Download JS</a>
</body>
</html>